/* global.css global styles defined below. Should be included on every page*/

/* -- main page layout elements -- */

html, body {
   height: 100%;
}
body {
   background:#218fb9 url(/bg_body_gradient.gif) top left repeat-x;
   color:#000;
   font-size:11px;
   line-height:14px;
   font-family:Trebuchet MS,arial,verdana;
   margin:0;
   padding:0;
}
/* FIXME - get rid of this */
ul {
   margin:0;
   padding:0;
   list-style:none;
}
#containerMain {
   position: relative;
   min-height: 100%;
   width: 100%;
   z-index:2;
   text-align:left;
   /* use of the cursor property is a workaround for a cursor problem that triggers with IE7 */
   cursor: default;
}
* html #containerMain {
   height: 100%;
}
#contentMain {
   text-align: left;
   width: 962px;
   height: auto;
   /* the 70px padding provides space for the footer */
   padding-bottom: 70px;
   margin:0 auto;
   z-index:10;
}
#containerMid, #containerFull {
   float:left;
   line-height:17px;
   margin-left:19px;
   z-index:40;
   cursor: auto;
}
#containerMid {
   width:568px;
}
#containerFull {
   width:764px;
}
#containerRight {
   /* position:relative was needed for codebaby, may now be unnecessary */
   position: relative;
   float:right;
   width:176px;
   line-height:15px;
   cursor: auto;
}
#insideMid {
   position: relative;
   padding: 6px 10px 6px 10px;
   background-color:white;
   width:568px;
   w\idth: 548px;
}
#insideFull {
   padding: 6px 10px 6px 10px;
   background:url(/bg_fullcontent.png) bottom left no-repeat;
   width:764px;
   w\idth:744px;
}

/* -- end main page layout elements -- */

/* -- header --*/

#containerHeader {
    text-align: left;
    height: 38px;
    width: 962px;
    min-width: 962px;
    margin: 0 auto;
    cursor: auto;
}
html > body #containerHeader {
    width: 100%;
}
#containerCustomerHeader {
    background: transparent url(/topnav_btn_bgspacer.gif) top left repeat-x;
    margin-bottom: 20px;
    height: 18px;
}
.customerMenuContainer {
    width: 962px;
    margin: 0 auto;
    height: 18px;
}
#containerHeaderLeft {
    float: left;
    width: 63%;
    height: 38px;
    background: transparent url(/header_bg_swoosh.gif) top right no-repeat;
}
#containerHeaderRight {
    float: right;
    width: 37%;
    height: 38px;
    background: transparent url(/header_bg_right.gif) repeat-x;
}
#headerMessages {
    text-align: right;
    padding-top: 7px;
    height: 31px;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
}
#headerMessages .headerMessagesContent {
    text-align: left;
    float: right;
    width: 410px;
}
#headerMessages .headerMessagesContent a {
    color: #ffffff;
    font-size: 11px;
    font-weight: normal;
}
#headerMessages .headerMessagesContent a.boldLink {
    font-size: 14px;
    font-weight: bold;
}
#headerSearch {
    padding-top: 5px;
    width: 350px;
    height: 33px;
}
#headerSearch .headerSearchLeft {
    float: left;
    width: 8px;
    height: 30px;
}
#headerSearch .headerSearchContent {
    float: left;
    width: 342px;
    height: 30px;
    background: transparent url(/header_search_tile.gif) repeat-x;
}
#headerSearch .headerSearchContent input.search {
    float: left;
    width: 120px;
    font-size: 11px;
    border: 1px solid #ccc;
    height: 13px;
    margin: 7px 3px 0px 2px;
}
#headerSearch .headerSearchContent select {
    float: left;
    width: 120px;
    border: 1px solid #CCC;
    font-size: 11px;
    margin: 7px 0px 0px 3px;
}
#headerSearch .headerSearchContent input.formTech {
    float: right;
    width: 84px;
    height: 30px;
}
#headerSearch a {
    color:#000;
    text-decoration:none;
}
#headerSearch a:hover {
    text-decoration:underline;
}

/* -- footer --*/

#containerFooter {
    clear: both;
    position: relative;
    height: 50px;
    margin: -50px auto 0 auto;
    min-width: 962px;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}
#footerNav {
    width: 962px;
    height: 23px;
    margin: 0 auto;
}
#footerNav .footerNavLeft {
    float: left;
    width: 6px;
    height: 23px;
}
#footerNav .footerNavRight {
    float: right;
    width: 6px;
    height: 23px;
}
#footerNav .footerNavContent {
    float: left;
    width: 950px;
    height: 23px;
    padding-top: 4px;
    background: transparent url(/footer_BGtile.gif) repeat-x;
}
#footerNav .footerNavContent a {
    color: #ffffff;
}
#footerCopyright {
    margin: 0 auto;
    clear: both;
    text-align: right;
    width: 962px;
}

/* -- end footer --*/

/* -- left navigation -- */

#containerLeft {
    /* without position:relative the floating menu bars appear below main content with IE */
    position: relative;
    float:left;
    line-height:15px;
    width:178px;
    z-index:41;
    cursor: auto;
}
#containerLeftnav {
    position: relative;
    top: -71px;
    width: 178px;
    display: block;
}
#containerLeftnav img {
    display:block;
}
#logoNav {
    margin-bottom: 1px;
}
h3.nav_accordion_toggle {
}
h3.nav_accordion_toggle_active {
}
.nav_accordion_content {
    overflow: hidden;
    background: url(/gnav_expand_bottom.gif) bottom left no-repeat #e6f8fc;
    border-right: 1px solid #467bbf;
    border-left: 1px solid #467bbf;
    padding: 0px 0px 0px 10px;
    width: 166px;
    margin: 0px;
}
.nav_accordion-body {
    overflow: hidden;
}
.topNav {
    height: 24px;
    width: 168px;
    background: url(/gnav_button.gif) top left no-repeat;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    font-size: 13px;
    font-family: Trebuchet MS,arial,verdana;
    font-weight: normal;
    color: #043e87;
    cursor: pointer;
    margin: 0px;
    white-space: nowrap;
}
.topNav:hover, .topNav a:hover {
    text-decoration: none;
    color: #4a4a4a;
}
h3.subnav_accordion_toggle {
}
h3.subnav_accordion_toggle_active {
}
.subnav_accordion_content {
    overflow: hidden;
    margin: 0px;
}
.subNav {
    text-decoration: none;
    font-size: 12px;
    font-family: Trebuchet MS,arial,verdana;
    font-weight: normal;
    color: #043e87;
    cursor: pointer;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
}
.subNav:hover, .subNav a:hover {
    text-decoration: none;
    color: #4a4a4a;
}
.grandchildNav {
    font-weight: normal;
}
.grandchildNav:hover, .grandchildNav a:hover {
    text-decoration: none;
    color: #4a4a4a;
}
li.navListItem {
    display: list-item;
    list-style: disc inside;
    font-size: 12px;
    font-family: Trebuchet MS,arial,verdana;
    font-weight: normal;
    color: #043e87;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    color: #043e87;
}
li.navListItem:hover {
    color: #4a4a4a;
}
.selectedNav, li.selectedNav {
    color: #4a4a4a;
}
#tvListingNav {
    background: url(/gnav_bottom.gif) top left no-repeat;
    width: 170px;
    height: 42px;
    padding: 3px 4px 4px 4px;
}
.tvListingButton {
    float: left;
    padding: 9px 0px 0px 7px;
    text-decoration: none;
    cursor: pointer;
    width: 163px;
    height: 35px;
    background: url(/button_tv_listings.gif) top left no-repeat;
}
#newNav {
    padding-bottom: 7px;
}
#newNav .newNavTop {
    width: 178px;
    height: 38px;
    background: url(/nod_top.gif) top left no-repeat;
}
#newNav .newNavContent {
    width: 158px;
    background: url(/nod_bg_tile.gif) top left repeat-y;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    font-size: 13px;
    font-family: Trebuchet MS,arial,verdana;
    font-weight: normal;
    color: #043e87;
    cursor: pointer;
}
#newNav .newNavBottom {
    width: 178px;
    height: 17px;
    background: url(/nod_bottom.gif) top left no-repeat;
}
#newNav a:hover {
    text-decoration: none;
    color: #4a4a4a;
}

/* -- end left navigation -- */

.noscript-warning {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin: 30px 30px 30px 220px;
    padding: 30px;
    line-height: 22px;
}
#containerMid p, #containerMid h3 {
   margin-left:10px;
   margin-right:10px;
}

body#sportsBody {
   width:auto;height:auto;}

table {
   font-size:1em;
}
sup, a sup {
   font-size: .83em;
   vertical-align:0;
   position:relative;
   top:-3px;
}
p {
   margin-top:1em;
   margin-bottom:1em;
}
form {
   margin:0;
}
input, select {
   font-size:11px;
   font-family:verdana,arial;
}
input.standardInput, select.standardInput {
    width: 190px;
}
input.phone3 {
    width: 30px;
}
input.phone4 {
    width: 40px;
}
input.zipInput {
    width: 50px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
.clear {
    clear:both;
    height:0px;
    overflow:hidden;
}
.clear5 {
    clear:both;
    height:5px;
    overflow:hidden;
}
.clear10 {
    clear:both;
    height:10px;
    overflow:hidden;
}
.clear15 {
    clear:both;
    height:15px;
    overflow:hidden;
}
.clear20 {
    clear:both;
    height:20px;
    overflow:hidden;
}
.topPad10 {
    padding-top: 10px;
}
.topPad5 {
    padding-top: 5px;
}
.bottomPad5 {
    margin-top: -5px;
}
.leftPad5 {
    margin-left: 5px;
}
.leftPad10 {
    margin-left: 10px;
}
.leftPad20 {
    margin-left: 20px;
}
.leftPad0{
    margin-left:0px;
}

img {
   border:none;}

img.block {
   display:block;}

ul.smallSquares, ul.dashes{
   margin-left:10px; }

ul.smallSquares li {
   padding-left:12px !important;
   background:transparent url(/bullet_square.png) 4px 3px no-repeat;}
ul.dashes li {
   padding-left:10px;
   background:transparent url(/bullet_dash.png) 4px 0.6em no-repeat;}
ul.smallSquares li, ul.dashes li {
   margin-bottom:3px; }

ul li.green {
   padding-left:18px !important;
   background:transparent url(/bullet_circle_green.png) 3px 3px no-repeat; }

ul li.blue {
   padding-left:18px !important;
   background:transparent url(/bullet_circle_blue.png) 3px 3px no-repeat; }

ul li.red {
   padding-left:18px !important;
   background:transparent url(/bullet_circle_red.png) 3px 3px no-repeat; }

a {
   color:#255498;
   text-decoration:none;}
a:hover {
   text-decoration:underline;}
a.more {
   width:auto;
   padding-right:15px;
   background:url(/nav/bullet_chevron.png) right 3px no-repeat;
   background-repeat:no-repeat !important;}
a.print {
   padding-left:20px;
   background:transparent url(/icons/printIcon.png) 0 50% no-repeat; }
a.asc, a.desc {
   padding-right:10px;
   color:#333;
   background:transparent url(/icons/down_arrow.png) 100% 50% no-repeat;}
a.asc{
   background-image:url(/icons/down_arrow.png);}
a.asc:hover{
   background-image:url(/icons/down_arrow_over.png);}
a.desc {
   background-image:url(/icons/up_arrow.png);}
a.desc:hover{
   background-image:url(/icons/up_arrow_over.png);}
a.back {
   padding-left:15px;
   background:transparent url(/nav/bullet_chevron_left.png) 0 0.25em no-repeat; }
a.close {
   padding:4px 24px 4px 0;
   background:transparent url(/btn_roundX.png) 100% 0.125em no-repeat; }
.accent {
   color:#ff6600;}
a.disabledLink, .disabledLink {
   color:#999; }

table.threeColTable, table.twoColTable {
   margin:0px -10px 10px 0px;}

table.threeColTable h2 a, table.twoColTable h2 a, .columns3 h2 a {
   display:block;
   margin:0;
   color:#225598;
   padding-left:17px;
   font-size:11px;
   background:url(/icons/icon_index_h2.png) 0 2px no-repeat;}

ul.noBullets {
   list-style:none;
}
.red{
   color:#C80000; }
.green{
   color:#007F15; }
.blue{
   color:#0046DC; }
.blue_bbvdo{
   color:#007DC6; }

/* h tags */

h1 {
   font-size:15px;
   margin:14px 10px 16px 10px;}
h2 {
   font-size:14px;
   margin:10px 10px 10px 10px;
   font-weight:bold;}

h1.brdrBtm {
   width:548px;
   w\idth:528px;
   margin-left:0px !important;
   margin-right:0px !important;
   padding:0 10px 5px 10px; }

h3{
   font-size:13px;
   margin:12px 0 6px 0;padding:0;}

h4{
   font-size:11px;
   margin:6px 0 6px 0;padding:0;}

h1, h2, h3, h4 {
   position:relative;}

h1 .meta, h2 .meta, h3 .meta, h4 .meta {
   font-size:11px;
   font-weight:normal;
   position:absolute;
   right:10px;top:0;
   color:#000;}

h1 .meta {
   line-height:18px;
   top:3px;}

h1 .meta a, h3 .meta a, h4 .meta a {
   margin-left:20px; }

.roundedTop{
   padding-top:4px;
   background:transparent url(/bg_midcontent_top.png) top left no-repeat; }

.roundedBottom {
   height:6px;
   background:transparent url(/bg_midcontent_bottom.png) top left no-repeat;}

#insideMid hr {
   text-align:center;
   height:0px;
   border:0px;
   color:#CCC;
   margin:0;}

html > body #insideMid hr {
   border-top:1px solid #CCC;
   margin:5px 5px 5px 5px;}

.roundedTopFull{
   padding-top:4px;
   background:transparent url(/bg_fullcontent_top.png) top left no-repeat; }

.module176 {
   width:176px;}

#containerLeft .module176 {
   position:relative;
   padding-bottom: 7px;
}
.module176 h4 {
   font-size:11px;}

.module176 .copy {
   padding:10px;
   background:transparent url(/bg_module_176.png) bottom left repeat-y;
   width:156px;}

.module176 .copy .link {
   position:absolute;
   border-top:1px solid #ccc;
   width:156px;
   padding-top:6px;
   bottom:8px;left:10px;}

.module176 .margin5 {
   margin-bottom:5px;}

.module176 h3 {
   font-weight:bold;
   font-size:11px;
   padding:1px 10px 2px 10px;
   margin-bottom:1px;
   margin-top:0px;
   background:url(/hdr_moduleTitle.png) top left no-repeat; }

.lowModule {
   position:absolute;
   width:176px;bottom:1px;}

.lowModule .copy {
   height:105px;
   he\ight:85px; }

.rightModule{
   right:0px;
   line-height:16px;}

.optionBlock {
   margin:0 0 20px 0; }
.optionBlock h3.title {
   color:#fff;
   margin:0 0 -1px 0 !important;
   padding:1px 9px 1px 10px;
   font-size:13px;
   line-height:19px;}
.optionBlock .optionContent {
   padding:9px 9px 9px 9px;}
.optionBlock .optionContent hr {
   margin-right:5px !important;
   margin-left:0px !important;}
.optionBlock p, .optionBlock h3 {
   margin-top:0;
   margin-left:0 !important;
   padding:0;}

.optionBlock.blockCols {
   float:left;
   margin-right:13px; }
.optionBlock.last {
   margin-right:0px;}

.optionBlock240 {
   width:240px;}
.optionBlock240 h3.title {
   background: url(/bg_hdr_29ace4_240.png) 0 0 no-repeat;}
.optionBlock240 .optionContent {
   background: url(/bg_btm_29ace4_240.png) left bottom no-repeat;}

.optionBlock267, .optionBlock267-eee {
   width:267px;}
.optionBlock267 h3.title {
   background: url(/bg_hdr_29ace4_267.png) 0 0 no-repeat;}
.optionBlock267 .optionContent{
   background: url(/bg_btm_29ace4_267.png) left bottom no-repeat;}
.optionBlock267Btns .optionContent{
   background: url(/bg_content_29ace4_267.png) 0 0 repeat-y;}
.optionBlock267 .buttonsBar {
   background: url(/bg_buttons_29ace4_267.png) 0 0 no-repeat;}

.optionBlock267-eee h3.title {
   background: url(/bg_hdr_eee_267.png) 0 0 no-repeat;
   color:#000;
   height:20px;}
.optionBlock267-eee .optionContent{
   background: url(/bg_btm_eee_267.png) left bottom no-repeat;}
.optionBlock267Btns-eee .optionContent{
   background: url(/bg_content_eee_267.png) 0 0 repeat-y;}
.optionBlock267-eee .buttonsBar {
   background: url(/bg_buttons_eee_267.png) bottom left no-repeat;}

.optionBlock267 .buttonsBar, .optionBlock267-eee .buttonsBar {
   height:36px;
   position:relative;
   width:267px;}
.optionBlock267 .buttonsBar div.centered, .optionBlock267-eee .buttonsBar div.centered {
   position:absolute;
   margin:8px auto;
   top:0;right:0;
   width:267px;
   text-align:center; }

.optionBlock176 {
   width:176px;}
.optionBlock176 h3.title {
   background: url(/bg_hdr_29ace4_176.png) 0 0 no-repeat;}
.optionBlock176 .optionContent{
   background: url(/bg_btm_29ace4_176.png) left bottom no-repeat;}
.optionBlock176Btns .optionContent{
   background: url(/bg_content_29ace4_176.png) 0 0 repeat-y;}
.optionBlock176 .buttonsBar {
   background: url(/bg_buttons_29ace4_176.png) 0 0 no-repeat;
   height:36px;
   position:relative;
   width:176px;}
.optionBlock176 .buttonsBar div.centered {
   position:absolute;
   margin:8px auto;
   top:0;right:0;
   width:176px;
   text-align:center; }
.optionBlock176.blockCols {
   margin-right:9px; }
.optionBlock176.last {
   margin-right:0px;   }
* html .optionBlock176.last {
   position:relative;
}

.optionBlock548 {
   width:548px;}
.optionBlock548 h3.title {
   background: url(/bg_hdr_29ace4_548.png) 0 0 no-repeat;}
.optionBlock548 .optionContent,
.optionBlock548Extended .optionContentBtm,
.optionBlock548Form .optionContentBtm{
   width:548px;
      w\idth:530px;
   background: url(/bg_btm_29ace4_548.png) left bottom no-repeat;}

.optionBlock548Form .optionContentBtm{
   background: url(/bg_btm_form_29ace4_548.png) left bottom no-repeat;}

.optionBlock548Extended .optionContentBtm,
.optionBlock548Form .optionContentBtm {
   padding-bottom:5px;
   width:548px;}

.optionBlock548Form .optionContentBtm {
   padding-bottom:5px;
   position:relative;
   bottom:12px;}
html > body .optionBlock548Form .optionContentBtm {
   bottom:3px;}

.optionBlock548Btns .optionContent,
.optionBlock548Extended .optionContent {
   background: url(/bg_content_29ace4_548.png) 0 0 repeat-y;}

.optionBlock548Extended .optionContent {
   position:relative;}

.optionBlock548-F93 h3.title {
   background: url(/bg_hdr_ff9933_548.png) 0 0 no-repeat;}
.optionBlock548-F93 .optionContent{
   width:548px;
      w\idth:530px;
   background: url(/bg_btm_ff9933_548.png) left bottom no-repeat;}

.optionBlock548-93a h3.title {
   background: url(/bg_hdr_93ad01_548.png) 0 0 no-repeat;}
.optionBlock548-93a .optionContent{
   width:548px;
      w\idth:530px;
   background: url(/bg_btm_93ad01_548.png) left bottom no-repeat;}

.optionBlock548-F00000 h3.title {
   background: url(/bg_hdr_F00000_548.png) 0 0 no-repeat;}
.optionBlock548-F00000 .optionContent{
   width:548px;
      w\idth:530px;
   background: url(/bg_btm_F00000_548.png) left bottom no-repeat;}

.optionBlock548 .buttonsBar {
   background: url(/bg_buttons_29ace4_548.png) 0 0 no-repeat;
   height:36px;
   position:relative;
   width:548px;}
.optionBlock548 .buttonsBar div.centered {
   position:absolute;
   margin:8px auto;
   top:0;right:0;
   width:548px;
   text-align:center; }

.bubble156, .bubbleGrey548 {
   position:relative;
   padding:0; margin:10px 0 0 0;}

.bubble156 {
   padding-top:4px;
   background:transparent url(/bg_bubble_top_156.png) top left no-repeat; }

.bubbleFirst {
   margin-top:0px !important; }

/* may revise */
.bubbleGrey548 p {
   margin-left:0 !important;
   margin-right:0 !important; }

.bubbleGrey548 p.last {
   margin-bottom:0;
   padding-bottom:0; }

.bubbleGrey548{
   top:0px;width:548px;padding-top:4px;
   background:transparent url(/bg_bubbleGrey_top_548.png) top left no-repeat; }

.bubble156 .bubbleContent{
   padding:3px 10px 1px 10px;
   background:transparent url(/bg_bubble_156.png) bottom left no-repeat; }

.bubbleGrey548 .bubbleContent{
   display:block;
   padding:3px 10px 1px 10px;
   background:transparent url(/bg_bubbleGrey_548.png) bottom left no-repeat; }

.bubbleGrey548 h3 {
   font-size:14px;
   width:100%;
   margin:0;padding:2px 0 3px 0;}

.bubble156 h2, .bubble156 p {
   margin:0 0 3px 0;padding:0;}

.bubble156 p.summaryLinks {
   margin:0 0 4px 0;
   line-height:18px;}

.bubbleGrey548 h3 {
   margin-left:0 !important;
   margin-right:0 !important; }

.bubbleGrey548 .bubbleContent h3 a {
   color:#28ace3;}

.bubbleGrey548 p {
   margin:4px 0 7px 0;}

/* begin order modules */
.bubbleContent .action {
   border-top:1px solid #CCC;
   display:block;
   height:32px;
   margin:10px 0 0 0;
   padding-top:8px;
   hei\ght:24px;}

.bubbleContent .action strong {
   font-size:14px;
   color:#ff6600;}
/* end order modules */

h2 a {
   color:#28ACE3;}

.columns3 .moduleHdr a, h2 {
/*
redundency. will be removed eventually
*/
   font-size:14px;font-weight:bold;}

.contentImage {
   float:left;
   position:relative;
   margin:0;padding:0;}

img.frame {
   position:absolute;
   top:0px;left:0px;}

/* homepage quicklinks mini nav */

#containerRight ul.quickLinks {
   width:176px; }

#containerRight ul.quickLinks li.menu {
   font-weight:bold; }

#containerRight ul.quickLinks li.menu,
#containerRight ul.quickLinks li.link,
#containerRight ul.quickLinks li.label {
   position:relative;
   float:left;
   width:176px;
   line-height:20px;
   background:transparent url(/bg_quicklinks.png) top left repeat-x;
   margin-bottom:1px;}

#containerRight ul.quickLinks li.first {
   background:transparent url(/hdr_moduleTitle.png) top left no-repeat !important;}

#containerRight ul.quickLinks li.firstLabelBg {
   background:transparent url(/bg_quicklinks_first.png) top left no-repeat !important;}

#containerRight ul.quickLinks li.last {
   background:url(/bg_quicklinks_last.png) top left no-repeat;}

#containerRight ul.quickLinks li img.hdrBtn {
   position:absolute;
   top:4px;right:6px;}

#containerRight ul.quickLinks li .accordion {
   display:none; }

#containerRight ul.quickLinks li .hdrQuickLink {
   padding-left:9px;
}

.highLightsDetails {
   padding-bottom:9px;
   margin-bottom:9px;
   border-bottom:1px solid #ccc;}

.accordion {
   margin-top:1px;
   padding-top:2px;
   background-color:#FFF;
   font-weight:normal;
   position:relative;}

.accordion .details {
   margin-bottom:4px;}

.accordion .actionC {
   margin:5px 10px 1px 50px; }

.accordion .actionL {
   margin:5px 10px 1px 10px; }

html > body .accordion .action {
   margin-bottom:10px; }

.module176 hr {
   border:0px;
   border-top:1px solid #CCC;;
   color:#CCC;
   margin:0;
   padding:0;}
html > body .module176 hr {
   margin-top:6px;
   margin-bottom:6px;}

.accordion hr {
   width:158px;
   text-align:center;
   height:0px;
   border:0px;
   color:#CCC;
   margin:0;}

html > body .accordion hr {
   border-top:1px solid #CCC;
   margin:5px 10px 5px 10px;}

.accordion ul, .accordion p {
   margin:0 5px 0 9px; padding:0 0 5px 0;
   font-weight:normal; }

.accordion p {
   padding:5px 0 0 0; }

.accordion div.feature {
   line-height:1.2em;
   clear:both;
   margin:10px 10px 0 10px;}
.accordion div.feature img {
   float:left;
   padding-right:5px;
   margin-bottom:0px;
   height:41px;
   position:relative;}
.accordion div.feature p {
   margin-left:85px;
   padding:5px 0 0 0; }


.accordion ol {
   color:#225598;
   padding:2px 0 2px 0;
   margin:0 5px 0 33px; }
html > body .accordion ol {
   margin:0 5px 0 30px; }
.accordion ol li {
   padding:0;
   margin:0;
   position:relative;}
.accordion ol li a{
   position:relative;
   left:-8px;}
html > body .accordion ol li a{
   left:-5px;}
.accordion .modulePromo {
   margin:10px;}
.accordion .modulePromo .asset  {
   position:relative;
   float:left;margin-top:-4px;}
.accordion .imgFrame {
   background:transparent url(/frame_73x41.png) top left no-repeat;
   position:absolute;
   top:4px;;left:0;height:41px; width:73px;
   z-index:5; }
.accordion .modulePromo img {
   position:absolute;
   top:4px;;left:0;height:41px; width:73px;}
.accordion .modulePromo p {
   padding:0;
   line-height:1.3em;
   margin-left:80px;}
.accordion .modulePromo div.link {
   margin-top:3px;
   border-top:1px solid #CCC;}
/* END: homepage quicklinks mini nav */

/* headers */

span.inlineChannelNum {
   position:relative;top:1px;}
span.inlineChannelNum span {
   position:absolute;
   display:block;
   width:36px;height:13px;
   color:#FFF;
   text-align:center;
   font-weight:normal !important;
   top:-1px;left:0;}

span.channelNum {
   text-align:center;
   display:block;
   width:36px;height:13px;
   font-size:11px;line-height:11px;
   font-weight:normal !important;
   color:#FFF;
   margin-top:2px;
   background:transparent url(/bg_progChannel.png) left top no-repeat; }

h4 span.step {
   margin-right:10px;}

span.step {
   position:relative;
   padding:2px 10px 2px 0;
   font-size:11px;
   font-weight:bold;
   line-height:1.47em;
   color:#333;
   background:transparent url(/bg_step_right.png) right top no-repeat; }
span.step span {
   position:relative;
   font-size:11px;
   line-height:1.47em;
   padding:2px 1px 2px 10px; /* ie specific hack */
   margin-top:-2px;
   background:transparent url(/bg_step_left.png) left top no-repeat; }

/* begin buttons: to be revised ... standardized using .button (generic styles), .standardBtn (grey), .memberBtn (blue), .actionBtn(orange) */

/* begin testing submit buttons as form buttons */
.formTech {
   border:none;
   padding: 0px;
   border-collapse: collapse;}
/* end testing submit buttons as form buttons */


a.button .outer, a.orangeButton .outer {
   background-position:100% 30%;
   background-repeat: no-repeat;
   color:#333 !important;
   padding:2px 10px 2px 0;
   font-size:11px;
   line-height:1.47em; }
html > body a.button .outer, html > body a.orangeButton .outer {
   background-position:100% 50%;}
a.button .outer {
   background-image:url(/btns/bg_button_right.png);}
a.orangeButton .outer {
   background-image: url(/btns/bg_orangebutton_right.png);
   font-weight:bold;
   line-height:1.7em;}
a.button .outer span, a.orangeButton .outer span {
   background-position:0 50%;
   background-repeat: no-repeat;
   font-size:11px;
   line-height:1.47em;
   padding:2px 1px 2px 10px; /* ie specific hack */
   margin-top:-2px;}
html > body a.button .outer span, html > body a.orangeButton .outer span {
   margin-top:0; }
a.button .outer span {
   background-image: url(/btns/bg_button_left.png);}
a.orangeButton .outer span {
   line-height:1.7em;
   background-image: url(/btns/bg_orangebutton_left.png);}
a.button:hover, a.orangeButton:hover {
   text-decoration:none !important; }
a.button.disabled .outer, a.orangeButton.disabled .outer {
   color: #ccc !important;}
/* end: buttons */

.txtBlueDrk { color:#369; }
.linkGrey { color:#999; }

.brdrBtm_CCC { border-bottom:1px solid #CCC; }
.margin0 { margin:0 !important; }
.marginR0 { margin-right:0 !important; }
.marginR10 { margin-right:10px !important; }
.marginL0 { margin-left:0 !important; }
.marginL10 { margin-left:10px !important; }
.marginB0 { margin-bottom:0 !important; }
.marginT0 { margin-top:0 !important; }
.marginT10 { margin-top:10px !important; }
.paddingR0 { padding-right:0 !important; }
.paddingR10 { padding-right:10px !important; }
.paddingL10 { padding-left:10px !important; }
.paddingB10{ padding-bottom:10px !important; }
.paddingT0 { padding-top:0 !important; }

/* paging */
.pagingBox {
   padding:2px 0 2px 0;
   text-align:center;}

.pagingBox .prevButton {
   background:transparent url(/nav/bullet_chevron_left.png) no-repeat center left;
   padding-left:15px;
   margin-right:15px;}

.pagingBox ul {
   display:inline;
   list-style:none; }

.pagingBox li {
   display:inline;
   list-style:none;
   margin:0 2px;}

.pagingBox li.currentPage {
   font-weight:bold;
   color:#000;}

.pagingBox .nextButton {
   background:transparent url(/nav/bullet_chevron.png) no-repeat center right;
   padding-right:15px;
   margin-left:15px;}

/* begin: table specific styles */

table.resultTable {
   width:558px;
   border-collapse:collapse;
   margin-left:0;}
html > body table.resultTable {
   margin-left:1px;}
table.searchResultTable {
   border-left:1px solid #CCC;
   border-right:1px solid #CCC; /* this is needed for IE in some cases*/}
table.resultTableNarrow {
   width:548px;
   margin-top:0;
   margin-left:0px;}
html > body table.resultTableNarrow {
   margin-top:1px;
   margin-left:1px;
   width:547px;}
table.resultTable th,
table.resultTable td {
   border:1px solid #CCC;
   text-align:left;
   vertical-align:middle;
   line-height:20px;
   padding:0 3px 0 9px;
   background-color:#FFF;
   font-size:11px; }

table.systemTable {
   width:528px;}
table.systemTable th,
table.systemTable td {
   border-left:none;
   border-right:none;}

table.resultTable tr.headings th {
   font-weight:normal !important;
   line-height:20px;
   background:transparent url(/bg_tableHeading.png) 0 50% repeat-x; }
table.resultTable tr.headings th a{
   color:#333;}
table.resultTable tr.headings th a:hover{
   color:#28ACE3;}

/* todo: change name of this class */
h3.tableTitle,
h3.bodyContentHdr {
   margin:10px 0 0 0 !important;
   padding:1px 0 2px 9px !important;
   width:548px;
   font-size:13px;
   line-height:1.6em;
   background:transparent url(/bg_titleHeading548.png) top left no-repeat;
   w\idth:539px; }

html > body h3.bodyContentHdr,
html > body h3.tableTitle {
   width:539px; }

.bodyContentTop{
   background:transparent url(/bg_titleHeading548.png) top left no-repeat;
   margin:10px 0 0 0;
   padding:9px;
   width:530px;
   \width:548px;
   w\idth:530px; }

.bodyContentBottom,
.programGuideContent {
   margin:0 0 20px 0 !important;
   padding:0 0 2px 10px;
   font-size:11px;
   background:transparent url(/bg_footer548.png) bottom left no-repeat;
   width:548px;
   w\idth:538px;}

.bodyContentBottomNoContent {
   margin:0 0 20px 0 !important;
   padding:0px 10px 2px 10px;
   font-size:11px;
   background:transparent url(/bg_footer548.png) bottom left no-repeat;
   width:548px;
   w\idth:528px;}

.bodyContentBottom p,
.bodyContentBottomNoContent p,
.programGuideContent p {
   margin-left:0;}

.programGuideContent {
   padding-right:0;
   margin-right:-10px;}

.bodyContentBottomNoContent,
.programGuideContent {
   background:none;}

.tableFooter {
   margin:0;
   font-size:0px;
   height:8px;
   line-height:0px; }
.emptyTableFooter {
   margin-top:-8px;
      ma\rgin-top:-10px;
   background:transparent url(/bg_tableFooter548.png) bottom left no-repeat !important;}
html > body .emptyTableFooter {
   margin-top:-10px;}

table.resultTable .previewThumb,
ul.borderedList .previewThumb {
   float:left;}
ul.borderedList li {
   clear:both;
   position:relative;}

table.resultTable .details,
ul.borderedList .details {
   margin-left:130px;line-height:1.4em;
   margin-right:10px;}
/* end: table specific styles */

* html ul.borderedList li .details {
   margin-top:-10px;}

table.resultTable .details.short,
ul.borderedList .details.short {
   float:left;
   margin-left:20px;
   width:220px;}

table.resultTable .comingUp {
   margin-left:370px;
   margin-top:20px;}

table.resultTable .comingUp h4 {
   margin-bottom:2px;
   font-size:11px;}

.floatWrapper {
/*used to fix float issues for modules that are wrapping when they should not: ChadL
  better than the global fix to the insideMid right margin */
   margin-right:-10px;}

.rAlign {
   text-align:right;}

a.backToTop {
   background:transparent url(/btns/btn_back_to_top.png) 100% 50% no-repeat;
   line-height:20px;
   padding-right:20px;}

.finePrint {
   padding-top:6px;
   font-size:9px;
   color:#999;}

/* error styles, should these go in forms.css??? perhaps... */
div.error {
   background:transparent url(/bg_error_top.png) top left no-repeat;
   margin:0;
   padding-top:2px;}
div.error p {
   background:transparent url(/bg_error_bottom.png) bottom left no-repeat;
   color:#F00000;
   font-weight:bold;
   margin-top:0;
   padding:6px 10px 10px 10px;}
p.error {
   color:#F00000;
   font-weight:bold;}
p.success {
   color:#93ad01;
   font-weight:bold;}

/* video module */

.module176 .videoModule p {
   margin:0;}
.module176 .videoModule h2 {
   margin:0 0 3px 0;
   font-size:11px;}
.module176 .videoModule h2 a {
   color:#255498;}

.module176 .movieImage {
   position:relative;
}
.module176 .movieImage {
   height:107px;
}
.module176 .frame {
   position:absolute;
   left:0;top:0;
   z-index:50;
}
.module176 .orangeButton {
   margin:2px 0 0 37px;}

/* begin styles moved from packages.css */
#insideMid .intro {
   color:#000;
   font-size:13px;
   margin:0px 20px 20px 10px;
}
#insideMid .intro ul, #insideMid .intro li {
   list-style: disc inside;
   margin: 0;
   padding: 0;
}
#insideMid .contentBlock {
   position:relative;
   margin:0;}

#insideMid .contentBlock div.content {
   padding-top:6px;
   margin-left:10px;}

#insideMid .contentBlock div p {
   margin:0 0 16px 0;padding:0;}

.legalText {
   color:#999;   /* removed border, replaced with optional <hr /> */
   font-size:10px;

   padding-top:0px;
   margin:14px 20px 10px 10px;}

#insideMid .legalText p {
   margin:10px 0 0 0;
   padding:0px;
   line-height:1.4em;}
/* end styles moved from packages.css */

/* start tabs */
.tabs {
   height:20px;
   position:relative;}

.tabs ul {
   list-style:none;
   margin:0;
   padding:0;}

.tabs li {
   background:transparent url(/btns/bg_tab_right.png) top right no-repeat;
   float:left;
   font-weight:bold;
   height:20px;
   \height:21px;
   he\ight:20px;
   list-style:none;
   margin:0 2px 0 0;
   padding:0 5px 0 0;}

.tabs li a {
   background:transparent url(/btns/bg_tab_left.png) top left no-repeat;
   color:#FFF;
   display:block;
   float:left;
   margin:0;
   padding:2px 5px 4px 10px;}

.tabs li.currentTab {
   background:transparent url(/btns/bg_tab_current_right.png) top right no-repeat;}

.tabs li.currentTab a {
   background:transparent url(/btns/bg_tab_current_left.png) top left no-repeat;
   color:#333;
   padding-bottom:5px;}

.tabContent{}
/* end tabs */

#subNav {
   margin:0 0 20px 10px;
   padding-bottom:10px;}
#subNav li {
   font-weight:bold;
   display:inline; }
#subNav li.last span {
   border:none;}
#subNav li.first span {
   padding-left:0;}
#subNav li a {
   font-size:11px;}
#subNav li span {
   padding:0 7px 0 7px;
   border-right:1px solid #CCC;
   line-height:10px;font-size:0.7em;height:8px;}

/* begin secondary index styles */

.columns2 .col1 {
   float:left;
   width:245px;
   margin-right:10px; }

.columns2 .col2 {
   float:left;
   width:245px;}

.columns2 .mod, .columns2 h2 {
   display:inline;
   float:left;
   width:249px;
   margin:0px 20px 0px 10px;}

.columns3 .mod, .columns3 h2 {
   display:inline;
   float:left;
   width:156px;
   margin:0px 20px 0px 10px;}

.columns3 h2, .columns2 h2 {
   padding-bottom:6px;}

.columns3 .moduleContent,
.moduleContent {
   position:relative;}

.columns3 .moduleContent img,
.moduleContent img {
   display:block;}

.columns3 .moduleLink,
.columns2 .moduleLink {
   margin-bottom:16px;}

.cols3,
.cols2 {}
.cols3 .col,
.cols2 .col {
   width:180px;
   margin-right:4px;
   float:left;
   line-height:15px;}
.cols2 .col {
   width:252px;
   margin-right:10px;}
.bodyContentBottom .cols3, .bodyContentBottom .cols2 {
   padding:10px;padding-right:0;}
.bodyContentBottom .cols3 .col {
   width:170px;}
.bodyContentBottom .cols2 .col {
   width:254px;}
.cols3 .col.col-last,
.cols2 .col.col-last {
   margin-right:0px;}
* html .cols3 .col .optionBlock176 {
   margin-right:-15px !important; }
* html .cols3 .col p,
* html .cols3 .col h2,
* html .cols3 .col ul,
* html .cols2 .col p,
* html .cols2 .col h2,
* html .cols2 .col ul{
   margin-top:0;}

.moduleContent strong {
   display:block;
   padding:6px 0px 0px 0px;}

#insideMid .moduleContent p {
   line-height:16px;
   padding:4px 0px 5px 0px;
   margin:0px;}

/* begin: mini promo module */
.modulePromoSmall.show{
   display:block;}
.modulePromoSmall.hide{
   display:none;}
.modulePromoSmall {
   margin:0 0 10px 10px;}
.modulePromoSmall .asset {
   position:relative;
   float:left;margin-top:0px;}
.modulePromoSmall .imgFrame{
   background:transparent url(/frame_73x41.png) top left no-repeat;
   position:absolute;
   top:0px;left:0;height:41px; width:73px;
   z-index:5; }
.modulePromoSmall img {
   position:absolute;
   top:0px;;left:0;height:41px; width:73px;}
.modulePromoSmall p {
   padding:0;
   line-height:1.3em;
   margin-left:80px;}

.modulePromoSmall div.link {
   margin-top:5px;
   border-top:1px solid #CCC;}

.accordion .modulePromoSmall div.link {
   border-top:none;
   border-bottom:1px solid #CCC;
   margin-bottom:0;
   padding-bottom:3px;}

.rightModule .modulePromoSmall .asset  {
   margin-left:-5px;}
html > body .rightModule .modulePromoSmall .asset  {
   margin-left:-10px;}
.rightModule .modulePromoSmall p {
   margin-left:70px;}
.rightModule .modulePromoSmall .imgFrame {
   top:0px; }
/* end: mini promo module */


ul.relatedLinks {
   list-style:none;
   margin:0;padding:0;}
ul.relatedLinks li {
   list-style:none;
   margin:0;padding:0 0 6px 0;}
ul.relatedLinks li span {
   color:#969696;
   font-size:10px;
   line-height:1em;
   margin-top:2px;
   display:block;}

/* begin styles for table based secondary index page */
.moduleContent {
   position:relative;}

img.singleColImage {
   float:left;}

.moduleContent .singleColContent {
   float:left;}

.moduleContent .singleColContent h2, .moduleContent .singleColContent strong, .moduleContent .singleColContent p {
   margin:0;padding:0;
   margin-left:10px !important;
   width:328px;}

.moduleContent .singleColContent h2 {
   margin-bottom:4px;}

.singleModule .moduleContent {
   width:528px;
   margin:8px 10px 8px 10px;}

table.threeColTable td.col2 {
   background:url(/bg_2colspecial.png) top left repeat-y;}

.col2 h2, .col2 .moduleContent, .col2 .moduleLink {
   width:342px;
   margin:0px 20px 0px 10px;}

table.threeColTable td.col1 h2, table.threeColTable td.col1 .moduleContent, table.threeColTable td.col1 .moduleLink {
   width:156px;
   margin:0px 20px 0px 10px;}

table.threeColTable td.col1 h2, table.twoColTable td.col1 h2 {
   padding-top:6px;
   margin:0;}

table.threeColTable .moduleContent img, table.twoColTable .moduleContent img {
   position:relative;
   top:8px;
   margin-bottom:8px;}

table.threeColTable .moduleContent a img.frame, table.twoColTable .moduleContent a img.frame {
   position:absolute;
   z-index:200;}

table.threeColTable td.col1 h2, table.threeColTable td.col2 h2 {
   margin-top:8px;}

table.threeColTable td.col1 .moduleLink, table.threeColTable td.col2 .moduleLink {
   margin-bottom:8px;}

table.twoColTable td.col1 h2 {}
table.twoColTable td.col1 .moduleContent, table.twoColTable td.col1 .moduleLink {
   width:249px;
   margin:0px 20px 0px 10px;}

table.twoColTable td.col1 h2 {
   margin-top:8px;}

table.twoColTable td.col1 .moduleContent h2 {
   margin-left:0;}

table.twoColTable td.col1 .moduleLink {
   margin-bottom:8px;}

/* end styles for table based secondary index page */

.importantNote {
   padding:1px;
   background-color:#feef02; }

/* account summary block */
dl.nameValue {
   margin:0;
   margin-right:20px;
   width:300px;}
dl.nameValue.lastItem {
   margin-right: 0;}
dl.nameValue dt {
   clear:both;
   float:left;
   margin-right:10px;
   width:140px;}
dl.nameValue.lastItem dt {
   width:130px;}
dl.nameValue.lastItem dd {
   width:80px;}
dl.nameValue dd {
   float:left;
   margin-left:0;
   width:140px;}

dl.nameValue.wide {
   width:420px;}
dl.nameValue.wide dt {
   width:190px;}
dl.nameValue.wide dd {
   width:200px;}

dl.nameValue.narrow {
   margin-right:0;
   width:230px;}
dl.nameValue.narrow dt {
   width:120px !important;}
dl.nameValue.narrow dd {
   width:80px !important;}

#printTitle {
   display:none;}

.promoImage {
   margin-top:10px;
   position:relative;
   width:156px;}

.module176 .details {
   width:158px;}
.module176 .details .date {
   position:relative;
   border-bottom:1px solid #CCC;
   margin:0 0 5px 0;
   padding-bottom:6px;
   font-weight:bold;}
.module176 .details .links {
   margin-right:0;
   margin-left:0;}
.module176 .details .links a.orangeButton,
.module176 .details .links a.button {
   float:right;}
.module176 .details .date .icons {
   position:absolute;
   top:3px;right:10px;}
html > body .module176 .details .date .icons {
   right:0px;}
.module176 .details .date .icons img {
   margin-left:3px;}

.accordionSpace {
   clear:both;
   height:5px;}

.requiredField, .manditoryField {
   color:#28ACE3;
   font-weight:bold;}
.required {
    color: #000000;
    font-size: 10px;
    margin: 0px 2px;
    padding: 0;
    font-weight: normal;
    vertical-align: top;
}
.requiredNote {
    float: right;
    position: relative;
    display: block;
    font-size: 10px;
    margin-right: 10px;
    color: #acacac;
}

/* spot for Broadband video browse titles area */

.blackOptionBlock548 {
   margin-top:20px !important;
   background: url(/bg_hdr_black_548.png) top left no-repeat;}
html > body .blackOptionBlock548 {
   margin-top:10px !important;}
.blackOptionContent {
   background: url(/bg_btm_black_548.png) bottom left no-repeat;}
.searchTitles {
   float:right;
   width:243px;}
.browseTitles {
   width:257px;
   margin-left:10px;
   border-right:1px solid #cccccc;}
.browseTitles select, .searchTitles select {
   width:115px;
   margin:0px 5px 10px 0px;
   font-size:9px;}
.searchTitles #searchBbv {
   border:1px solid #999;
   width:235px;
   margin-bottom:10px;}

.borderlessBanner {
   position:relative;
   margin:-10px -10px 0 -10px;
   padding:0px !important;}
div.mhd {
  z-index:201;
  padding:2px 8px 4px 8px;
  border:1px solid #255498;
  background-color:#99CCFF;
}
span select.headingSelect {
  margin-top: 4px;
  font-size: 10px;
}

/* DOD global nav */

.dodGlobalNav h3 {
  margin-top: 8px;
  color: white;
  background: url(/dod_moduleTitle.gif) top left no-repeat;
}

.dodGlobalNav .copy {
  background: transparent url(/bg_dod_nav.gif) bottom left repeat-y;
  font-weight: bold;
}

.dodBeta {
  font-size: 10px;
  color: #a1a1a1;
}

/* -- begin generic self-care styles -- */

.lb_ap_pageHeader {
    background: url(/bg_forgotEmail_lb_header.gif) 0 0 no-repeat;
    color: #fff;
    font-size: 22px;
    height: 31px;
    padding: 5px;
}
.lb_ap_formArea {
    height: auto;
    border: 5px solid #c3c9d1;
    background-color: #fff;
}
.lb_ap_formcontent {
    padding: 5px;
}
.lb_btnRow {
    background-color: #f6f8fb;
    background: url(/bg_buttonBand.gif) 0 0 repeat-x;
    height: 28px;
    padding: 5px 10px 0px 10px;
}
.thinking {
    text-align:center;
    padding: 20px 0px 20px 0px;
}
input.selfcare, textarea.selfcare, select.selfcare {
    border:1px solid #999;
    font-size: 10px;
    padding:2px;
}
textarea.selfcare {
    margin-left: 10px;
    overflow: auto;
    height: 60px;
}

/* -- end generic self-care styles -- */

/* -- error styles.  keep these AFTER all other styles that are applied to input fields, otherwise they will not be properly applied. -- */

input.ajaxError, select.ajaxError, textArea.ajaxError {
    border: 1px solid #e63829;
}
label.ajaxError {
    color: #ed1c24;
    font-weight:bold;
}
img.hiddenImage {
    display: none;
    margin: 0px 5px 0px 5px;
    padding: 0px;
}
img.ajaxError {
    display: inline;
}
.lb_errorArea {
    border: 1px solid #ed1c24;
    color: #ed1c24;
    margin: 0px 0px 10px 0px;
    padding:5px;
}
.lb_messageArea {
    border: 1px solid #238520;
    color: #238520;
    margin: 10px 0px 12px 0px;
    padding:5px;
}
.errorListItem {
    display: list-item;
    position: relative;
    list-style: disc inside;
    list-style-image: url(/icon_error_sm.gif);
}
.messageListItem {
    display: list-item;
    position: relative;
    list-style: none;
}

/* -- end error styles -- */
/* home.css home page specific styles */

/* BEGIN: needed for safari-related bug */
.lowModule .modulePromoSmall {
   margin:0;
   background-color:white;
   position:absolute;
   z-index:0;
   height:90px;
   width:155px;}
.lowModule .modulePromoSmall .link {
   left:0px;bottom:4px !important;}
.lowModule .modulePromoSmall .asset, .lowModule .modulePromoSmall img, .lowModule .modulePromoSmall .imgFrame {
   left:5px;}
.lowModule .modulePromoSmall p {
   margin:0;
   margin-left:80px !important;}
/* END: needed for safari-related bug */

#insideMid {
   margin-top:-4px;
}
#prospectFlashContainer #flashcontent, #customerFlashContainer #flashcontent {
   position:relative;
   /*background:transparent url(/bg_noflash.png) 10px 10px no-repeat;*/
   width:568px;
   height:372px;
}
#EPGContainer {
   width:568px;
   background-color:transparent;
}
#EPGContainer .controls {
   height:20px;width:inherit;
}
#EPGContainer.mini {
   padding: 8px 0px 0px 0px;
}
#EPGContainer.full {
   height:486px !important;
}
#flashcontent p.noflash {
   position:absolute;
   top:98px;left:112px;
   width:350px;
}
#prospectFlashContainer, #customerFlashContainer {
   width:568px;
   background-repeat:no-repeat;
}
#customerFlashContainer {
   position:relative;
   width:568px;
}
.homeModuleLink {
   position:relative;
}
.homeModuleLink a.button {
   float:none;
   position:absolute;
   bottom:4px;right:0px;
}
/* end prospect home modules */

/* start alert bar */
#alertBarContainer {
   clip: rect(0 400px 17px 0);
   color: #f00000;
   font-weight: bold;
   left: 10px;
   position: absolute;
   top: -67px;
   width: 400px;}
#alertBar {
   left: 0;
   position: absolute;
   top: 0; left: 0;}
#alertBar a {
   color: #f00000;
   font-weight: bold;}

.bottomLink {
   text-align:right;
   border-top:1px solid #ccc;
   padding:6px 0 0 0;
   margin:8px 10px -4px 10px;}

/* homepage header overrides */
.columns3 h2 a {
   margin-top:12px;
   margin-bottom:-8px;}

.homeModuleLink a.more {
   display:none;}

